.group {
    display: flex;
    justify-content: space-between;
    width: fit-content;
    height: fit-content;
    padding-left: 8px;
    padding-right: 8px;
    margin-right: 4px;
    flex-direction: column;
    align-items: start;
    box-shadow: 0 0 transparent;

    .row {
        display: inherit;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;

        &Title {
            margin-bottom: 8px;

            .buttons {
                display: flex;
                gap: 8px;

                & button {
                    width: 20px;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: 600;
                    font-size: 15px;
                }
            }
        }

        .cards {
            overflow-y: auto;
            max-height: 80vh;
        }

        .moreButton {
            margin-top: 8px;
            &.noMore {
                opacity: 0.5;
            }
        }
    }
    ::-webkit-scrollbar {
        display: none;
    }
}
