$primaryBgActiveElement: #B233A6;
$secondaryBgActiveElement: #EBEEF6;

$whiteColor: #ffffff;
$primaryTitleColor: #3D8FEC;
$secondaryTitleColor: #50B810;
$primaryColor: #555555;
$secondaryColor: #616C82;

